<p>Our new member <%= @member.first_name %> <%= @member.last_name %> has just signed up for <%= @event_instance.name %></p>
<p>
  <table class="new-member-mail">
    <thead>
      <th>first name</th>
      <th>second name</th>
      <th>email</th>
      <th>phone</th>
      <th>comment</th>
    </thead>
    <tbody>
      <tr>
        <td><%= @member.first_name %></td>
        <td><%= @member.last_name %></td>
        <td><%= @member.email %></td>
        <td><%= @member.phone1 %></td>
        <td><%= @comment %></td>
      </tr>
    </tbody>
  </table>

  <table class="new-member-mail">
    <thead>
      <th>Question</th>
      <th>Answer</th>
    </thead>
    <tbody>
      <% @attendee.option_answers.each do |answer| %>
        <tr>
          <td><%= answer.question_option.question.title %></td>
          <td><%= answer.question_option.title %></td>
        </tr>
      <% end %>
      <% @attendee.question_answers.each do |answer| %>
        <tr>
          <td><%= answer.question.title %></td>
          <td><%= answer.answer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
