<%= render "shared/nav" %>

<div class="row">
    <div class="col offset-m3 s12 m6">
        <div id="event-form" class="card">
            <div class="card-content">
                <span class="card-title"><%= @event_instance.name %></span>
                <%= form_for(@member) do |f| %>
                    <%= hidden_field_tag :event_instance_id, @event_instance.id %>
                    <div class="row">
                        <div class="input-field col s6">
                            <%= f.text_field :first_name, className: "validate" %>
                            <%= f.label :first_name %>
                        </div>
                        <div class="input-field col s6">
                            <%= f.text_field :last_name, className: "validate" %>
                            <%= f.label :last_name %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <%= f.email_field :email, className: "validate" %>
                            <%= f.label :email %>
                        </div>
                        <div class="input-field col s6">
                            <%= f.phone_field :phone1, className: "validate" %>
                            <%= f.label :phone %>
                        </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 s6">
                        <p>
                          <%= f.label :gender %>
                        </p>
                        <p>
                          <label>
                            <%= f.radio_button :gender, "male" %>
                            <span>Male</span>
                          </label>
                          <label>
                            <%= f.radio_button :gender, "female" %>
                            <span>Female</span>
                          </label>
                        </p>
                      </div>
                    </div>

                    <% @event_instance.questionnaire&.question_groups&.each do |group| %>
                        <% group.questions&.each_slice(2) do |questions| %>
                        <div class="row">
                          <% questions&.each do |question| %>
                            <div class="input-field col s6">
                              <% if question.answer_type == "open" %>
                                <%= text_field_tag "questions[#{question.id}]" %>
                                <label for=<%= "questions[#{question.id}]" %>>
                                  <%= question.title %>
                                </label>
                              <% else %>

                                <p>
                                  <label>
                                    <%= question.title %>
                                  </label>
                                </p>
                                <% question.question_options.each do |option| %>
                                    <p>
                                    <label>
                                        <% if question.answer_type == "single" %>
                                            <%= radio_button_tag "questions[#{question.id}]", option.id %>
                                        <% end %>
                                        <% if question.answer_type == "multiple" %>
                                          <%= check_box_tag "questions[#{question.id}]", option.id %>
                                        <% end %>
                                        <span><%= option.title %></span>
                                    </label>
                                    </p>
                                <% end %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                        <% end %>
                    <% end %>

                    <div class="row">
                        <div class="input-field col s12">
                            <%= text_field_tag :comment, @comment %>
                            <%= label_tag :comment %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <p>
                            <label>
                              <input type="checkbox" name="terms_accepted"/>
                              <span>I willingly submit my information understanding the privacy policy as found <a href="https://berlin.church/imprint" target="blank">here</a> (updated: 25 May 2018).</span>
                            </label>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
