<!DOCTYPE html>
<html>
  <head>
    <title>Church</title>
    <%= csrf_meta_tags %>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>

  <body>
    <%= yield %>

    <% if flash.any? -%>
      <script type="text/javascript">
        M.AutoInit();
        <% flash.each do |name, msg| -%>
          M.toast({ html: '<%= msg %>' });
        <% end -%>
      </script>
    <% end -%>
  </body>
</html>
